# Discord Rich Presence
# Create a Discord application and put its Application ID here.
DISCORD_CLIENT_ID=

# Optional: asset key configured in the Discord application rich presence assets.
DISCORD_RPC_LARGE_IMAGE=logo
DISCORD_RPC_LARGE_TEXT=NES Emulator
DISCORD_RPC_SMALL_IMAGE=jonasgrimm
DISCORD_RPC_SMALL_TEXT=jonasgrimm.de
